/venv
/__pycache__
/frontend/node_modules
/frontend/__pycache__
/frontend/migrations
/musicapp/__pycache__
/musicapp/settings.py
/musicapp/asgi.py
/frontend/webpack.config.js
/frontend/static/frontend
/api/__pycache__
/accounts/__pycache__
/accounts/migrations
/rooms/__pycache__
/rooms/migrations
*.sqlite3
.DS_Store

settings.ini
env.py
todo.txt
