.feed {
    padding: 2rem
}
.feed-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    max-width: 1000px;
    min-height: max-content;
    margin: auto;
    text-align: center;
}