.yourhangs {
    justify-content: center;
    display: flex;
}

.yourhangs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    height: 100%;
    width: 100%;
    max-width: 1400px;
    min-height: max-content;
    margin: auto;
    text-align: center;
    justify-content: center;
}